$messageBackground: #33aa44;
$authorBackground: #555555;

#messages {
  // Bottom to offset input field
  padding: 5px 10px 100px 10px;
  margin: 0 auto;
  max-width: 500px;
}

.message-container {
  padding: 5px 0;
}

.message {
  padding: 10px;
  background: $messageBackground;
  color: #efefef;
  // Leave one corner to blend with author container
  border-radius: 3px 3px 0 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.message-info-container {
  // padding: 3px;
  display: flex;
  font-size: 0.75em;
}

.message-timestamp {
  padding: 5px;
  color: #555555;
  text-align: left;
}

.message-author-container {
  width: 50%;
  text-align: right;
  // Fixed overlap of author and message
  margin-top: 5px;
}

.message-author {
  padding: 5px;
  background: $authorBackground;
  color: #dddddd;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
