.sidebar-toggle {
  font-weight: bold;
  transition: transform 0.5s ease;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 3;

  width: 200px;
  padding: 60px 10px;

  background: #4f4f4f;
  color: #eeeeee;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.3);

  transform: translateX(-200px);
  transition: transform 1s ease;

  &.expanded {
    transform: translateX(0);
  }
}

.sidebar-item {
  padding: 5px 20px;
  border-radius: 2px;
  transition: all 0.2s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }

  &.selected {
    background: rgba(255, 255, 255, 0.6);
    color: #333333;
  }
}

.sidebar-overlay {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1.0;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  height: 100%;
  width: 100%;

  transition: opacity 1s ease;

  &.hidden {
    height: 0;
    opacity: 0;
    // Keeps transition smooth on exit
    // transition: opacity 1s ease, height 0.1s ease 1s;
  }
}
